@using FilmShare.ViewModels
@model FilmShare.ViewModels.TabViewModel

@{
    ViewData["Title"] = "Administration";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";

    var action = "";
    switch (Model.ActiveTab)
    {
        case Tab.Users:
            action = "users()";
            break;
        case Tab.Actors:
            action = "actors()";
            break;
        case Tab.Films:
            action = "films()";
            break;
    }
}

<div class="col-md-6 col-md-offset-3 profileWrap">
    <div class="text-center">
        <h2>Administration</h2>

        <ul id="navbar" class="nav nav-tabs" style="margin-top: 20px!important; margin-bottom:20px">
            <li><a class="@(Model.ActiveTab == Tab.Users ? "btn active" : "btn tab")" asp-route-tabname="Users" asp-action="SwitchTabs">Users</a></li>
            <li><a class="@(Model.ActiveTab == Tab.Actors ? "btn active" : "btn tab")" asp-route-tabname="Actors" asp-action="SwitchTabs">Actors</a></li>
            <li><a class="@(Model.ActiveTab == Tab.Films ? "btn active" : "btn tab")" asp-route-tabname="Films" asp-action="SwitchTabs">Films</a></li>
        </ul>

        <input id="filter" type="text" onkeyup="@action" class="filterBar" />

        @switch (Model.ActiveTab)
        {
            case Tab.Users:
                @await Component.InvokeAsync("FilmShare.ViewComponents.Admin.Users");
                break;
            case Tab.Actors:
                @await Component.InvokeAsync("FilmShare.ViewComponents.Admin.Actors");
                break;
            case Tab.Films:
                @await Component.InvokeAsync("FilmShare.ViewComponents.Admin.Films");
                break;
        }


    </div>
</div>

<script>
    $(document).ready(function () {
        $("#adminSub").css("background", "#47a7cc")
        $("#adminText").css("color", "white")
    })

    function users() {
        var container = $("#usersContainer");
        $.get("/Admin/UsersComponent?filter=" + $("#filter").val(), function (data) { container.html(data); });
    }

    function actors() {
        var container = $("#actorsContainers");
        $.get("/Admin/ActorsComponent?filter=" + $("#filter").val(), function (data) { container.html(data); });
    }

    function films() {
        var container = $("#filmsContainers");
        $.get("/Admin/FilmsComponent?filter=" + $("#filter").val(), function (data) { container.html(data); });
    }
</script>